.side{
    position: fixed;
    bottom: 0;
    top:70px;
    left:0; 
    width: 200px;
    display:flex;
    flex-direction:column;
    z-index: 200;
}
.top, .center{
    display:flex;
    flex-direction: column;
    background-color:white;
    width:200px;
    border-bottom: 1px solid rgb(202, 202, 202);
    margin-bottom:10px;
    margin-top: 10px;
}
.top{
    height: 245px;
}
.center{
    height: 370px;
}
.icon-box{
    margin-bottom: 15px;
    vertical-align: middle;
    margin-left: 10px;
}

.icon-box img{
    width: 45px;
    vertical-align: middle;
}
